.modal {
  width: 334px;
  height: 28vh;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  letter-spacing: 1px;
  color: #3c3b3b;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: linear-gradient(150deg, #d9d9d9 54%, #cccccc 97%);
}

.modal__head {
  display: none;
}

.modal__add-input {
  width: 100%;
  background-color: #ebe8e8;
  color: #545454;
  letter-spacing: 1px;
  font-size: 14px;
  padding: 8px 10px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-weight: 600;
}

.modal__add-input::placeholder {
  color: #545454;
}

.modal__current-time {
  font-size: 13px;
  margin: 10px 0;
}

.modal__add-textarea {
  width: 100%;
  height: 9vh;
  background-color: #ebe8e8;
  color: #545454;
  letter-spacing: 1px;
  font-size: 14px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
  resize: none;
  font-weight: 600;
}

.modal__add-textarea::placeholder {
  color: #545454;
}

.modal__add-textarea::-webkit-scrollbar {
  display: none;
}

.modal__add-wrap {
  display: flex;
  gap: 15px;
  justify-content: end;
}

.modal__add-btn {
  font-weight: 600;
  background-color: #ebe8e8;
  color: #3c3b3b;
  padding: 8px 20px;
  border-radius: 8px;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
}

.modal__add-btn:hover {
  background-color: #e0dfdf;
  transition: all linear 0.2s;
}

/* Media query | Responsive */
@media (max-width: 480px) {
  .modal {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    justify-content: start;
  }

  .modal__head {
    display: flex;
    justify-content: space-between;
    color: #3c3b3b;
    font-size: 24px;
  }

  .modal__add-input {
    background: transparent;
    font-size: 16px;
    padding: 5px;
    margin-top: 17px;
  }

  .modal__current-time {
    padding: 5px;
  }

  .modal__add-textarea {
    background: transparent;
    height: 15vh;
    font-size: 15px;
    padding: 5px;
    border-radius: none;
  }

  .modal__add-wrap {
    gap: 20px;
  }

  .modal__add-btn {
    padding: 10px 25px;
  }

  .cancel {
    display: none;
  }
}
