.notes__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notes__header-h1 {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.7);
}

.notes__header-btn {
  gap: 6px;
  border: none;
  display: flex;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px 14px;
  align-items: center;
  letter-spacing: 1px;
  transition: all linear 0.2s;
  color: rgba(0, 0, 0, 0.7);
  background-color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.notes__header-btn:hover {
  background-color: #f7f7f7;
}

.notes__header-btn:active {
  box-shadow: none;
}

.notes__search {
  position: relative;
  margin: 26px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.notes__search-input {
  width: 100%;
  letter-spacing: 1px;
  font-size: 16px;
  border: none;
  border-radius: 24px;
  outline: none;
  padding: 14px 15px 14px 47px;
  color: rgba(0, 0, 0, 0.7);
  background-color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.notes__search-input::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.notes__search-icon {
  position: absolute;
  top: 50%;
  left: 1.9%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
}

/* Media query | Responsive */
@media (max-width: 480px) {
  header {
    background-color: red;
  }
  .notes__header-btn {
    padding: 11px 15px;
  }

  .notes__search-input {
    padding: 14px 10px 14px 42px;
    border-radius: 8px;
  }

  .notes__search-icon {
    font-size: 18px;
    left: 7%;
  }
}
