.main-dark {
  height: 100vh;
  overflow-y: auto;
  background-color: #16263c;
}

.main-dark::-webkit-scrollbar {
  display: none;
}

.notes__container {
  position: sticky;
  top: 0px;
  padding: 25px;
  background-color: #deae10;
}

.notes__container-dark {
  background-color: #0c1829;
}

.notes__list {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  max-width: 1400px;
  margin: 30px auto;
}

.notes__list-card {
  width: 334px;
  height: 28vh;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.7);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.notes__list-card-notfound {
  width: 334px;
  height: 15vh;
  font-size: 14px;
  padding: 15px;
  border-radius: 15px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.7);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.notes__list-card-notfound-h2 {
  text-align: center;
  margin-top: 25px;
}

.notes__list-title {
  overflow-y: auto;
  font-size: 20px;
}

.notes__list-title::-webkit-scrollbar {
  display: none;
}

.notes__list-text {
  margin: 10px 0;
  overflow-y: auto;
  letter-spacing: 1px;
  font-size: 14px;
}

.notes__list-text::-webkit-scrollbar {
  display: none;
}

.notes__list-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notes__list-span {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
}

.notes__list-span-dark {
  color: #a7a7a7;
}

.notes__list-delicon {
  font-size: 22px;
  cursor: pointer;
}

.notes__add {
  cursor: pointer;
  padding: 9px 14px;
  border-radius: 8px;
  color: rgba(0, 0, 0, 0.7);
  background-color: #fbc71d;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.notes__add-dark {
  color: #c0c0c0;
  background-color: #0f1d30;
}

.notes__add-plus-icon {
  font-size: 30px;
}

/* Media query | Responsive */
@media (max-width: 1300px) {
  .notes__list {
    padding: 0 10px;
  }
}

@media (max-width: 480px) {
  .notes__container {
    padding: 10px 10px 1px 10px;
  }

  .notes__list {
    margin-top: 15px;
  }

  .notes__list-card {
    padding: 10px;
    width: 100%;
    height: 14vh;
  }

  .notes__list-card-notfound {
    width: 100%;
    height: 10vh;
    padding: 0px;
  }

  .notes__list-card-notfound-h2 {
    margin-top: 22px;
    font-size: 14px;
  }

  .notes__list-title {
    font-size: 17px;
  }

  .notes__list-text {
    margin: 3px 0 0 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 13px;
  }

  .notes__list-span {
    font-size: 12px;
  }

  .notes__list-delicon {
    font-size: 18px;
  }

  .notes__add {
    position: fixed;
    bottom: 4%;
    right: 4%;
    background-color: #fbc71d;
  }
}
