.notes__container {
  max-width: 1400px;
  margin: 40px auto;
}

.notes__list {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 20px;
}

.notes__list-card {
  width: 334px;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.7);
  background-color: #ffffff;
}

.notes__list-card-notfound {
  width: 334px;
  height: 15vh;
  font-size: 14px;
  padding: 15px;
  border-radius: 15px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.7);
  background-color: #ffffff;
}

.notes__list-card-notfound-h2 {
  text-align: center;
  margin-top: 25px;
}

.notes__list-title {
  font-size: 20px;
}

.notes__list-text {
  margin: 10px 0;
  height: 15vh;
  overflow-y: auto;
  letter-spacing: 1px;
  font-size: 14px;
}

.notes__list-text::-webkit-scrollbar {
  display: none;
}

.notes__list-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notes__list-span {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
}

.notes__list-delicon {
  font-size: 22px;
  cursor: pointer;
}

.notes__add {
  padding: 10px 14px;
  cursor: pointer;
  border-radius: 8px;
  color: rgba(0, 0, 0, 0.7);
  background-color: #ffffff;
}

.notes__add-plus-icon {
  font-size: 30px;
}

/* Media query | Responsive */
@media (max-width: 1300px) {
  .notes__container {
    padding: 0px 10px;
  }
}

@media (max-width: 480px) {
  .notes__list-card {
    padding: 10px;
    width: 100%;
    height: 14vh;
  }

  .notes__list-card-notfound {
    width: 100%;
    height: 10vh;
    padding: 0px;
  }

  .notes__list-card-notfound-h2 {
    margin-top: 22px;
    font-size: 14px;
  }

  .notes__list-title {
    font-size: 17px;
  }

  .notes__list-text {
    height: 3vh;
    margin: 3px 0 0 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 13px;
  }

  .notes__list-span {
    font-size: 12px;
  }

  .notes__list-delicon {
    font-size: 18px;
  }

  .notes__add {
    position: fixed;
    bottom: 6%;
    right: 4%;
    width: 60px;
    height: 50px;
    background-color: #fbc71d;
  }
}
