* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: #eee;
}

.notes__container {
	max-width: 1400px;
	margin: 40px auto;
}

.notes__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.notes__header-h1 {
	font-size: 30px;
}

.notes__header-btn {
	background-color: #d9d9d9;
	border: none;
	padding: 10px 20px;
	font-size: 15px;
	letter-spacing: 1px;
	border-radius: 15px;
	cursor: pointer;
}

.notes__header-btn:hover {
	background-color: #b4b2b2;
	transition: all linear 0.2s;
}

.notes__search {
	position: relative;
	margin: 24px 0;
}

.notes__search-input {
	width: 100%;
	background-color: #d9d9d9;
	color: #525252;
	letter-spacing: 1px;
	font-size: 16px;
	padding: 15px 15px 15px 47px;
	border: none;
	border-radius: 20px;
	outline: none;
}

.notes__search-input::placeholder {
	color: #525252;
}

.notes__search-icon {
	position: absolute;
	top: 50%;
	left: 1.9%;
	transform: translate(-50%, -50%);
	font-size: 20px;
	color: #525252;
}

.notes__list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.notes__list-card {
	width: 334px;
	height: 30vh;
	padding: 15px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	letter-spacing: 1px;
	color: #3c3b3b;
	background: linear-gradient(
		330deg,
		rgb(168, 228, 37) 54%,
		rgb(142, 211, 21) 97%
	);
}

.notes__list-card:hover {
	transition: all linear 0.2s;
	background: linear-gradient(
		150deg,
		rgb(168, 228, 37) 54%,
		rgb(142, 211, 21) 97%
	);
}

.notes__list-card-notfound {
	background-color: rgb(168, 228, 37);
	width: 334px;
	height: 30vh;
	padding: 15px;
	border-radius: 15px;
	letter-spacing: 1px;
	color: #3c3b3b;
}

.notes__list-card-notfound-h2 {
	text-align: center;
	margin-top: 25px;
}

.notes__list-card-notfound-span {
	font-size: 40px;
}

.notes__list-title {
	font-size: 20px;
}

.notes__list-text {
	padding: 10px 0;
	height: 16vh;
	overflow-y: auto;
	letter-spacing: 1px;
	font-size: 14px;
}

.notes__list-text::-webkit-scrollbar {
	display: none;
}

.notes__list-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.notes__list-span {
	font-weight: 600;
	font-size: 15px;
}

.notes__list-delicon {
	font-size: 22px;
	cursor: pointer;
}

.notes__add {
	background-color: rgb(3, 204, 201);
	color: #3c3b3b;
	width: 334px;
	height: 30vh;
	padding: 15px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	letter-spacing: 1px;
}

.notes__add-input {
	width: 100%;
	background-color: #ebe8e8;
	color: #545454;
	letter-spacing: 1px;
	font-size: 14px;
	padding: 8px 12px;
	border: none;
	border-radius: 10px;
	outline: none;
	font-weight: 600;
}

.notes__add-input::placeholder {
	color: #545454;
}

.notes__add-textarea {
	width: 100%;
	height: 13vh;
	background-color: #ebe8e8;
	color: #545454;
	letter-spacing: 1px;
	font-size: 14px;
	padding: 12px;
	border: none;
	border-radius: 10px;
	outline: none;
	resize: none;
	margin-top: 10px;
	font-weight: 600;
}

.notes__add-textarea::placeholder {
	color: #545454;
}

.notes__add-textarea::-webkit-scrollbar {
	display: none;
}

.notes__add-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.notes__add-span {
	font-weight: 600;
	font-size: 15px;
}

.notes__add-btn {
	font-weight: 600;
	background-color: #ebe8e8;
	color: #3c3b3b;
	padding: 8px 20px;
	border-radius: 10px;
	letter-spacing: 1px;
	cursor: pointer;
	border: none;
}

.notes__add-btn:hover {
	background-color: #e0dfdf;
	transition: all linear 0.2s;
}

/* Media query | Responsive */
@media (max-width: 480px) {
	body {
		padding: 10px 12px;
	}

	.notes__container {
		margin: 10px auto;
	}

	.notes__header-btn {
	padding: 11px 22px;
}

	.notes__search-input {
		padding: 20px 15px 20px 47px;
		border-radius: 15px;
	}

	.notes__search-icon {
		left: 6%;
	}

	.notes__list-card {
		width: 100%;
		height: 20vh;
	}

	.notes__list-card-notfound {
		background-color: rgb(168, 228, 37);
		width: 100%;
		height: 20vh;
	}

	.notes__list-text {
		height: 10vh;
	}

	.notes__add {
		width: 100%;
		height: 27vh;
	}

	.notes__add-input {
		padding: 10px;
	}

	.notes__add-textarea {
		height: 10vh;
	}

	.notes__add-wrap {
		margin-top: 25px;
	}

	.notes__add-btn {
		padding: 12px 30px;
	}
}
